<br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">

            <div class="card">
                <div class="card-body">
            <h3>Professores Cadastrados</h3><br>
            <a href="admin/professores/new" class="btn btn-primary">Novo</a>
 
                <table class="table">
                    
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOME</th>
                        <th scope="col">CPF</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">ESPECIALIDADE</th>
            

                    </tr>
                    </thead>
                    <tbody>
                        @for (professor of lista; track $index) {
                        <tr>
                            <td>{{professor.id}}</td>
                            <td>{{professor.nome}}</td>
                            <td>{{professor.cpf}}</td>
                            <td>{{professor.email}}</td>
                            <td>{{professor.especialidade}}</td>
                            <td class="alinharDireita"> 
                                @if(!modoModal){
                                <a href="admin/professores/edit/{{professor.id}}" class="btn btn-primary mx-3">Editar</a>
                                <button (click)="deleteById(professor)" class="btn btn-danger mx-3">Deletar</button>
                                }@else {
                                    <button (click)="selecionarProfessor(professor)" class="btn btn-primary mx-3">Selecionar</button>
                                }
                                
                             </td>
                        </tr>
                    }
                   
                    </tbody>
                </table>

            </div>
        </div>

        </div>
    </div>
</div>