<br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">

            <div class="card">
                <div class="card-body">
            <h3>Cursos Cadastrados</h3><br>
            <a href="admin/cursos/new" class="btn btn-primary">Novo</a>
 
                <table class="table">
                    
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOME</th>

                    </tr>
                    </thead>
                    <tbody>
                        @for (curso of lista; track $index) {
                        <tr>
                            <td>{{curso.id}}</td>
                            <td>{{curso.nome}}</td>
                            <td class="alinharDireita"> 
                                <a href="admin/cursos/edit/{{curso.id}}" class="btn btn-primary mx-3">Editar</a>
                                <button (click)="deleteById(curso)" class="btn btn-danger mx-3">Deletar</button>
                             </td>
                        </tr>
                    }
                   
                    </tbody>
                </table>

            </div>
        </div>

        </div>
    </div>
</div>
