<br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">

            <div class="card">
                <div class="card-body">
                    <h3>Alunos Cadastrados</h3><br>
                    <a (click)="novoAluno()" class="btn btn-primary">Novo</a>

                    <table class="table">

                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">NOME</th>
                                <th scope="col">CPF</th>
                                <th scope="col">TELEFONE</th>
                                <th scope="col">CADASTRO COMPLETO</th>
                                <th scope="col">TURMA</th>

                            </tr>
                        </thead>
                        <tbody>
                            @for (aluno of lista; track $index) {
                            <tr>
                                <td>{{aluno.id}}</td>
                                <td>{{aluno.nome}}</td>
                                <td>{{aluno.cpf}}</td>
                                <td>{{aluno.telefone}}</td>
                                <td>{{aluno.cadastroCompleto}}</td>
                                <td>{{aluno.turma?.nome}}</td>
                                <td class="alinharDireita">
                                    <a (click)="editarAluno(aluno)" class="btn btn-primary mx-3">Editar</a>
                                    <button (click)="deleteById(aluno)" class="btn btn-danger mx-3">Deletar</button>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #modalAlunoForm>

    <div class="modal-header">


        <h5 class="modal-title" id="exampleModalLabel">Novo aluno/Editar aluno</h5>

        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    
    </div>
    <div class="modal-body">
        <app-alunos-form [aluno] = "alunoEditado" (retorno)="retornoAluno($event)"></app-alunos-form>
    </div>

</ng-template>