<br>
        <div class="container">
            <div class="row">
                <div class="col-12 azul">

                    <div class="card">
                        <div class="card-body">
                    <h1>Cadastro de alunos</h1><br>
                        <a class="btn btn-primary" href="admin/alunos/new"> 
                            Novo aluno
                        </a>            
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            ID
                                        </th>
                                        <th scope="col">
                                            Nome
                                        </th>
                                        <th scope="col">
                                            CPF
                                        </th>
                                        <th scope="col">
                                            Telefone
                                        </th>
                                        <th scope="col">
                                            Cadastro Completo
                                        </th>
                                        <th scope="col">
                                            Turma
                                        </th>
                                        <th scope="col">
                                            Ações
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @for (aluno of lista; track $index) {
                                    <tr>
                                        <td>
                                            {{aluno.id}}
                                        </td>
                                        <td>
                                            {{aluno.nome}}
                                        </td>
                                        <td>
                                            {{aluno.cpf}}
                                        </td>
                                        <td>
                                            {{aluno.telefone}}
                                        </td>
                                        <td>
                                            {{aluno.cadastroCompleto}}
                                        </td>
                                        <td>
                                            {{aluno.turma?.nome}}
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" href="admin/alunos/edit/{{aluno.id}}"> 
                                                Editar
                                            </a>   
                                            <a class="btn btn-danger" (click)="delete(aluno)"> 
                                                Deletar
                                            </a>                                           
                                        </td>
                                    </tr>
                                 }
                                </tbody>
        </table>

        </div>
        </div>

        </div>
        </div>
</div>

