<br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">

            <div class="card">
                <div class="card-body">
                    <h3>Turmas Cadastradas</h3><br>
                    <a href="admin/turmas/new" class="btn btn-primary">Novo</a>

                    <table class="table">

                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">NOME</th>
                                <th scope="col">SEMESTRE</th>
                                <th scope="col">ANO</th>
                                <th scope="col">TURNO</th>
                                <th scope="col">PROFESSOR</th>
                                <th scope="col">ALUNO</th>
                                <th scope="col">CURSO</th>



                            </tr>
                        </thead>
                        <tbody>
                            @for (turma of lista; track $index) {
                            <tr>
                                <td>{{turma.id}}</td>
                                <td>{{turma.nome}}</td>
                                <td>{{turma.semestre}}</td>
                                <td>{{turma.ano}}</td>
                                <td>{{turma.turno}}</td>

                                <td>
                                   @for (professor of turma.professores; track $index) {
                                    {{professor.nome}}<br>
                                   } 

                                </td>
                               
                                <td class="alinharDireita">
                                    @if (!modoModal) {
                                        <a href="admin/turmas/edit/{{turma.id}}"
                                        class="btn btn-primary mx-3">Editar</a>
                                    <button (click)="deleteById(turma)" class="btn btn-danger mx-3">Deletar</button>
                                    }@else {
                                        <button (click)="selecionarTurma(turma)" class="btn btn-danger mx-3">Selecionar</button>
                                    }
                                    
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                    

                </div>
            </div>

        </div>
    </div>
</div>