<br>
        <div class="container">
            <div class="row">
                <div class="col-12 azul">

                    <div class="card">
                        <div class="card-body">
                    <h1>Cadastro de turmas</h1><br>
                        <a class="btn btn-primary" href="admin/turma/new"> 
                            Nova turma
                        </a>            
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            ID
                                        </th>
                                        <th scope="col">
                                            Nome
                                        </th>
                                        <th scope="col">
                                            Semestre
                                        </th>
                                        <th scope="col">
                                            Ano
                                        </th>
                                        <th scope="col">
                                            Turno
                                        </th>
                                        <th scope="col">
                                            Ações
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @for (turma of lista; track $index) {
                                    <tr>
                                        <td>
                                            {{turma.id}}
                                        </td>
                                        <td>
                                            {{turma.nome}}
                                        </td>
                                        <td>
                                            {{turma.semestre}}
                                        </td>
                                        <td>
                                            {{turma.ano}}
                                        </td>
                                        <td>
                                            {{turma.turno}}
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" href="admin/turma/edit/{{turma.id}}"> 
                                                Editar
                                            </a>   
                                            <a class="btn btn-danger" (click)="delete(turma)"> 
                                                Deletar
                                            </a>                                           
                                        </td>
                                    </tr>
                                 }
                                </tbody>
        </table>

        </div>
        </div>

        </div>
        </div>
</div>

