<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
      <!-- Marca ESCOLA alinhada à esquerda -->
      <a class="navbar-brand text-white" href="/admin/dashboard">ESCOLA</a>
      <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-center text-white" id="navbarNav">
          <ul class="navbar-nav mx-3 ">
              <li class="nav-item">
                  <a class="nav-link active text-white " href="/admin/alunos">Alunos</a>
              </li>
              <li class="nav-item mx-3 ">
                  <a class="nav-link active text-white" href="/admin/turmas">Turmas</a>
              </li>
              <li class="nav-item mx-3">
                  <a class="nav-link active text-white" href="/admin/professores">Professores</a>
              </li>
              <li class="nav-item mx-3">
                  <a class="nav-link active text-white" href="/admin/cursos">Cursos</a>
              </li>
              <li class="nav-item mx-3">
                  <a class="nav-link active text-white" href="/login">Sair</a>
              </li>
          </ul>
      </div>
  </div>
</nav>