<br>
<div class="container">
    <div class="row">
       
        <div class="col-12">
    
          <div class="card">
            <div class="card-body text-center">
              <h3>Novo Aluno</h3>
              <br>
              <mdb-form-control>
                <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="aluno.nome" />
                <label mdbLabel class="form-label" for="usuario">Nome:</label>
              </mdb-form-control>
              <br>
              <mdb-form-control>
                <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="aluno.cpf" />
                <label mdbLabel class="form-label" for="usuario">CPF:</label>
              </mdb-form-control>
              <br>
              <mdb-form-control>
                <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="aluno.telefone" />
                <label mdbLabel class="form-label" for="usuario">Telefone:</label>
              </mdb-form-control>
              <br>
              <mdb-form-control>
                <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="aluno.cadastroCompleto" />
                <label mdbLabel class="form-label" for="usuario">CadastroCompleto:</label>
              </mdb-form-control>
              <br>
              <mdb-form-control>
                <input mdbInput type="text" id="senha" class="form-control"
                  (keyup.enter)="save()" />
              </mdb-form-control>
              <br>
              @if(aluno.turma){
                <label mdbLabel class="form-label" for="senha">Turma: {{aluno.turma.nome}}</label> 
              <div> <button type="button" class="btn btn-primary" mdbRipple (click)="buscarTurma()">Trocar Turma</button> </div>
              <br>
            }@else {
              <br>
              <div class="border w-100 p-2">Nenhuma turma selecionada!</div>
              <br>
              <div> <button type="button" class="btn btn-primary" mdbRipple (click)="buscarTurma()">Buscar Turma</button> </div>
            }
            <br>
            <button type="button" class="btn btn-primary" mdbRipple (click)="save()">Salvar</button>
              
              
                
            </div>
          </div>
    
    
        </div>
      
      </div>
</div>


<ng-template #modalTurmaList>

  <div class="modal-header">


      <h5 class="modal-title" id="exampleModalLabel">Buscar Turma</h5>

      <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  
  </div>
  <div class="modal-body">
      <app-turmas-list [modoModal] = "true" (retornoTurma)="retornoTurma($event)"></app-turmas-list>
  </div>

</ng-template>