<br>
<div class="container">
    <div class="row">
        <div class="col-4">
    
        </div>
        <div class="col-4 ">
    
          <div class="card">
            <div class="card-body text-center">
              <h3>Novo Professor</h3>
              <br>
              <mdb-form-control>
                <input mdbInput type="text"  class="form-control" [(ngModel)]="professor.nome" />
                <label mdbLabel class="form-label" >Nome:</label>
              </mdb-form-control>
              <br>
              <mdb-form-control>
                <input mdbInput type="text"  class="form-control" [(ngModel)]="professor.cpf" />
                <label mdbLabel class="form-label" >CPF:</label>
              </mdb-form-control>
              <br>
              <mdb-form-control>
                <input mdbInput type="text"  class="form-control" [(ngModel)]="professor.email" />
                <label mdbLabel class="form-label" >Email:</label>
              </mdb-form-control>
              <br>
              <mdb-form-control>
                <input mdbInput type="text" class="form-control" [(ngModel)]="professor.especialidade"
                  (keyup.enter)="save()" />
                <label mdbLabel class="form-label" >Especialidade:</label>
              </mdb-form-control>
              <br>
    
              <button type="button" class="btn btn-primary" mdbRipple (click)="save()">Salvar</button>
    
            </div>
          </div>
    
    
        </div>
        <div class="col-4">
    
        </div>
      </div>
</div>