<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2>Cadastro de professor:</h2>
                <form #formulario3="ngForm">
                    <mdb-form-control>
                        <input [(ngModel)]="professor.nome" mdbInput type="text" name="professor" class="form-control" />
                        <label mdbLabel class="form-label" for="aluno">Nome do professor:</label>
                      </mdb-form-control>
                      <br>
                      <mdb-form-control>
                        <input [(ngModel)]="professor.cpf" mdbInput type="text" name="cpf" class="form-control" />
                        <label mdbLabel class="form-label" for="aluno">CPF:</label>
                      </mdb-form-control>
                      <br>
                      <mdb-form-control>
                        <input [(ngModel)]="professor.email" mdbInput type="text" name="email" class="form-control" />
                        <label mdbLabel class="form-label" for="aluno">E-mail:</label>
                      </mdb-form-control>
                      <br>
                      <mdb-form-control>
                        <input [(ngModel)]="professor.especialidade" mdbInput type="text" name="especialidade" class="form-control" />
                        <label mdbLabel class="form-label" for="aluno">Especialidade:</label>
                      </mdb-form-control>
                      <br>
                      <mdb-form-control>
                        <input [(ngModel)]="professor.turmas" mdbInput type="text" name="turma" class="form-control" />
                        <label mdbLabel class="form-label" for="aluno">Turma:</label>
                      </mdb-form-control>
                      <br>
                      <button (click)="save()" [disabled]="!formulario3.valid" class="btn btn-success"> 
                        Salvar
                      </button> 
                </form>
                </div>
            </div>    
        </div>
    </div>
</div>