<div class="container">
    <div class="row">
      <div class="col-4">
  
      </div>
      <div class="col-4 ">
  
        <div class="card">
          <div class="card-body text-center">
            <h3>Favor inserir login e senha:</h3>
            <br>
            <mdb-form-control>
              <input mdbInput type="text" id="usuario" class="form-control" [(ngModel)]="usuario" />
              <label mdbLabel class="form-label" for="usuario">Usuario:</label>
            </mdb-form-control>
            <br>
            <mdb-form-control>
              <input mdbInput type="password" id="senha" class="form-control" [(ngModel)]="senha"
                (keyup.enter)="logar()" />
              <label mdbLabel class="form-label" for="senha">Senha:</label>
            </mdb-form-control>
            <br>
  
            <button type="button" class="btn btn-primary" mdbRipple (click)="logar()">Entrar</button>
  
          </div>
        </div>
  
  
      </div>
      <div class="col-4">
  
      </div>
    </div>
  </div>